 
:root {
    --speed: 5;
}
.machine {
    background-color: peru;
    border: dashed brown 3px;
    height: 300px;
    width: 900px;
    margin: 50px;

    z-index: 5;

    display: flex;
}

#btnStart{
    background-color: blue;
    font-size: 23pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    border-radius: 8px;
    padding: 5px;
}

#btnStop{
    background-color: red;
    font-size: 23pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    border-radius: 8px;
    padding: 5px;
}


#inpSpeed {
    width: 100px;
    font-size: 23pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    border-radius: 8px;
    padding: 5px;
}

.slot {
    height: 250px;
    width: 250px;
    margin: 20px;

    overflow: hidden;

    z-index: 1;

    background-color: beige;
    border: solid darkblue 2px;
    text-align: center;
    font-size: 100pt;
    line-height: 250px;
}

.slot > .value {
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));
}

@keyframes slotspin {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(200px)
    }
}